# Virtualenv
venv/
.venv/

# Env files (secrets)
.env
.env.*

# Logs
*.log
logs/

# SQLite DB files
*.db
*.sqlite
*.sqlite3
__pycache__/
*.pyc
.DS_Store
_kie_debug_uploads/
_wavespeed_debug_uploads/
.vscode
wearai.db
.png
